{% extends 'crudapp/base_generic.html' %}
{% block content %}
	<div class="container">
		<form action="" method="POST" id="createform">
			{% csrf_token %}
			<div class="form-group">
				<label for="firstname">Firstname</label>
				<input type="text" class="form-control" name="firstname" required="required"/>
			</div>
			<div class="form-group">
				<label for="lastname">Lastname</label>
				<input type="text" class="form-control" name="lastname" required="required"/>
			</div>
			<div class="form-group">
				<label for="friendname">Select person</label>
				<select class="form-control" name="friendname">
					{% for friend in friendslist %}				
						<option value="{{ friend.id }}">{{ friend.get_full_name }}</option>
					{% endfor %}
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Add</button>
		</form>
	</div>
{% endblock %}

