{% extends 'crudapp/base_generic.html' %}
{% block content %}
<form action="" method="POST" id="createform">
	{% csrf_token %}
	<div>
		<label for="firstname">Firstname</label><br>
		<input type="text" name="firstname" required="required"/><br><br>
		<label for="lastname">Lastname</label><br>
		<input type="text" name="lastname" required="required"/><br><br>
		<button type="submit">Add</button><br><br>
	</div>
</form>
<div>
	<select name="friendname" form="createform">
		{% for friend in friendslist %}
		<option value="{{ friend.id }}">{{ friend.get_full_name }}</option>
		{% endfor %}
	</select>
</div>
{% endblock %}