{% extends 'crudapp/base_generic.html' %}
{% block content %}
<form action="update/{{ members.id }}" method="POST">
	{% csrf_token %}
	<div>
		<label for="firstname">Firstname</label><br>
		<input type="text" name="firstname" value="{{ members.firstname }}" required="required"/><br>
		<label for="lastname">Lastname</label><br>
		<input type="text" name="lastname" value="{{ members.lastname }}" required="required"/><br><br>
		<button type="submit" class="btn btn-sm btn-warning">Update</button>
	</div>
</form>
{% endblock %}
